.filtersList {
	background-color: transparent;
	list-style: none;
	width: fit-content;
	margin: 0 10px;

	.filtersListItem {
		background-color: transparent;
		width: max-content;

		.filterButton {
			background-color: transparent;
			border: none;
			padding: 7.5px 0;
			cursor: pointer;
			font-size: 0.9rem;
			color: var(--secondaryTextColor);

			&.activeFilter {
				color: var(--detailsColor);
			}
		}
	}
}
