.filtersList {
	list-style: none;
	width: fit-content;
	margin: 0 10px;

	.filtersListItem {
		width: max-content;

		.filterButton {
			background-color: var(--innerBackgroundColor);
			border: none;
			padding: 7.5px 0;
			cursor: pointer;
			font-size: 0.9rem;
			color: var(--secondaryTextColor);

			&.activeFilter {
				color: var(--detailsColor);
			}
		}
	}

	@media (max-width: 999px) {
		display: flex;
		flex-wrap: wrap;
		margin: 0;

		.filtersListItem {
			margin: 0 5px;
		}
	}
}
