.ratingStars {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
	padding: 10px;
	font-size: 2rem;

	.stars {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		width: 100%;

		path {
			fill: #ffc107;
		}
	}
}
