.anchorIcon {
	margin: 0 10px;
}

.signButton {
	border: none;
	cursor: pointer;
	font-size: 1.25rem;
	background-color: var(--backgroundColor);

	.anchorIcon {
		margin: 0 10px;
	}
}

.profileButton {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
