.inputsContainer {
	margin-top: 7.5px;
	display: flex;
	flex-direction: column;
	font-size: 0.9rem;

	.inputsLabels {
		margin: 3px 0px;
		display: flex;
		justify-content: space-between;

		.input {
			margin-left: 10px;
			border: 1px solid var(--detailsColor);
			border-radius: 2px;
		}
	}

	.formatText {
		margin-top: 7.5px;
		font-size: 0.8rem;
		color: var(--secondaryTextColor);
	}

	.yearsButton {
		background-color: var(--backgroundColor);
		width: 75%;
		margin-top: 7.5px;
		border: 1px solid var(--detailsColor);
		border-radius: 5px;
		padding: 5px 0;
		cursor: pointer;
		align-self: center;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
		transition: all 0.3s linear;

		&:hover {
			box-shadow: 0 12px 20px rgba(0, 0, 0, 0.6);
			border-color: var(--hoverDetailsColor);
		}
	}
}
